# Training checkpoints
results/
checkpoint-*/
**/checkpoint-*/

# Virtual env
venv/
env/
.venv/

# Caches
__pycache__/
.cache/
transformers_cache/

# Environment vars
.env

# Large model weights
*.safetensors
*.pt
*.pth

# Keep tokenizer/config files
!sentiment-model/config.json
!sentiment-model/tokenizer.json
!sentiment-model/tokenizer_config.json
!sentiment-model/training_args.bin